
<div class="page-body">
    <h1>Checkr</h1>
    <div class="info">
        <p><strong>Context</strong><br>Human Computer Interaction project</p>
        <p><strong>Team</strong><br>Vicki Lu, Wong Chi Shan, Elizabeth Yim</p>
        <p><strong>Role</strong><br>User Experience Design, Team Lead</p>
        <p><strong>Tools</strong><br>Figma, Adobe After Effects</p>
    </div>

    <h2>Brief</h2>
    <div class="brief">
        <img src="assets/projects/checkr/brief.svg">
    </div>

    <div class="category">
        <h3>Listen.</h3>
        <h4>The story</h4>
        <p>I used to have an unfortunate habit of losing items on public transportation. During my first week of my school exchange term in Singapore, I lost my phone on the subway. My phone case was a wallet case, so I lost my method of communication, my money, my student pass, my credit card, and my residence card in one sitting while in a foreign country. </p>
        <p class="block"></p>
        <h4>Forgetting is universal</h4>
        <p>My story likely isn't the only story story you've heard about forgetting and probably not the most painful either. Losing valuables is a problem encountered by most people at one point in their lives. </p>
        <p>Current solutions (such as Find My Phone) are mostly responsive solutions, as in they do not prevent users from losing their items and are only useful after the loss occurs (when most of the damage is done). This means that users must take valuable time out of their day to find lost items.</p>
        <p class="block"></p>
        <h4>Our solution</h4>
        <p>Checkr is an app dedicated to helping users find as well as prevent the loss of their belongings via the usage of tracking tags placed on a users’ items and a gamification strategy to build habits.</p>
    </div>

    <div class="category">
    <h3>Reshape.</h3>
        <h4>Design Process</h4>
        <p>We followed a six step iterative design process.</p>
        <img class="process" src="assets/projects/checkr/checkrprocessoverview.png">
        <h4>Who needs this?</h4>
        <p>Our target users are full time students and working individuals. These users move around often and carried multiple items around in their commute and day to day lives, generating more opportunities for losing items.</p>
        <img class="process" src="assets/projects/checkr/checkrpersona.png">
        <p>We created a primary and secondary persona and looked at thier daily schedule, pain points, and goals to better understand their needs.</p>
        <p class="block"></p>
        <h4>Contextual inquiry</h4>
        <p>We then conducted interviews with a variety of possible users such as commuting students, students living on residence, student athletes, commuting adults and businessmen who travel for work. During the interviews, we asked questions regarding the user’s experiences with losing items to gain insight into how people approach such situations. We then took all the information we found and organized them into the affinity diagram below:</p>
        <img class="process" src="assets/projects/checkr/checkraffinity.png">
        <p>We found that the majority of the users had similar experiences in losing items and how they approach such situations (for instance, if the item was lost over a day ago, people would give up the search). We found that the more users checked their items (for instance, checking their belongings when travelling in a high crime area) the less likely they would lose items.  Users also check for items at certain geographic landmarks, such as before they go out of their house or when they get to the basketball court.</p>
        <p class="block"></p>
        <h4>Key Tasks</h4>
        <p>Data synthesized by our research helped us form thee key tasks our application needed to provide.</p>
        <p><strong>1. Avoid loss of items</strong></p>
        <p>Take preventive measures to avoid losing items.</p>
        <p><strong>2. Recover lost items Quickly find items if they have been lost, to maximize the chance of recovery.</strong></p>
        <p>Quickly find items if they have been lost, to maximize the chance of recovery.</p>
        <p><strong>3. Maintain long-term habits</strong></p>
        <p>Develop healthy checking behaviours.</p>
        <p class="block"></p>
        <p>To address these three tasks, we brainstormed 5 main features to include in our application.</p>
        <img class="process" src="assets/projects/checkr/features.png">
        <h4>Storyboarding</h4>
        <p>Using the key insights we gleaned from the information in the affinity diagram, we proceeded to create a storyboard to simulate a real world application of our app. Panels 1-3 show the actor preventing the loss of their items. Panels 4-6 show the in-game rewards for doing so and panels 7-9: show the recovery of a lost item.</p>
        <img class="process" src="assets/projects/checkr/storyboard.png">
    </div>

    <div class="category">
        <h3>Implement.</h3>
        <p>We aimed to tackle the overall problem of losing belongings with a holistic solution - packaging preventive, reactive and long term solutions into one handy application.</p>
        <p>In response to the key tasks, we focused on three main features when generating prototypes </p>
        <p><strong>1. Checklist: Manage Your Items!</strong></p>
        <p>A checklist will force users to check for important items when leaving leave key areas such as their home or their workplace, and allowing users to track important items in real time. </p>
        <p><strong>2. Tracker: Locate Your Items!</strong></p>
        <p>We will do this by having our application track items in real time. When the user moves out of a certain range from the item, our app sends a notification to prompt users to look for their item.</p>
        <p><strong>3. Game: Incentive to build habits!</strong></p>
        <p>To help the user build the habit of checking for their belongings on their own, we included a gamification feature that would incentivize and reward the user while building the habit of keeping track of their belongings.</p>
        <p class="block"></p>
        <h4>Prototyping Process</h4>
        <p>We focused firstly on quantity over quality - generating multiple ideas to our solution at the same time as a starting point.</p>
        <img class="centered" src="assets/projects/checkr/rapidprototypes.png">
        <h4>Interactive Prototype</h4>
        <p>after conducting conducting further contextual inquiry interviews and using those findings, we synthesized a high quality, interactive prototype using Figma. </p>
        <p>You can interact with our prototype <a href="https://www.figma.com/proto/VZ4Wcbd4Y1XvjetDlS4xec/G3-Final-Prototype%3A-Group-7-Morning?node-id=1%3A832&scaling=min-zoom">here</a>.</p>
        <img class="process" src="assets/projects/checkr/workspaceandnotes.png">
        <p class="block"></p>
        <h4>Walkthrough</h4>
        <div class="walkthrough">
            <img class="centered" src="assets/projects/checkr/signin.png">
            <div class="sign-in walkthrough-text">
                <p><strong>Sign in</strong></p>
                <p>The user can sign up for the app via the sign up page. This will be important for keeping track of personal data.</p>
                <p>Once signed up, the user can simply sign in on other occasions where their data will be stored.</p>
            </div>

            <img class="tutorialimg centered" src="assets/projects/checkr/tutorial.gif">
            <div class="tutorial walkthrough-text">
                <p><strong>Application Tutorial</strong></p>
                <p>We created an in app tutorial for increased immersive experience. It takes the user through the process of creating a new checklist. We added a progress bar so the user can keep track of how fast they can finish the tutorial</p>
            </div>

            <img class="rfidimg centered" src="assets/projects/checkr/rfid.gif">
            <div class="rfid walkthrough-text">
                <p><strong>RFID Detection</strong></p>
                <p>The tutorial also explains how to set up RFID tags, which will be placed on items the user wishes to track locations for. Once users put the RFID tag onto the item, it is registered by the application. We wanted to give the user autonomy and allow the user to skip this step if they don't want to purchase the tags.</p>
            </div>

            <img class="rfidimg centered" src="assets/projects/checkr/rfid.gif">
            <div class="rfid walkthrough-text">
                <p><strong>RFID Detection</strong></p>
                <p>The tutorial also explains how to set up RFID tags, which will be placed on items the user wishes to track locations for. Once users put the RFID tag onto the item, it is registered by the application. We wanted to give the user autonomy and allow the user to skip this step if they don't want to purchase the tags.</p>
            </div>

            <img class="navimg centered" src="assets/projects/checkr/nav.png">
            <div class="nav walkthrough-text">
                <p><strong>Nav bar: Intuitive and clear mapping to our key tasks</strong></p>
                <p>1. Checklist → Avoid loss</p>
                <p>2. Home → Maintain habits</p>
                <p>3. Locate → Recover items</p>
            </div>

            <img class="checklistimg centered" src="assets/projects/checkr/checklist.gif">
            <div class="checklist walkthrough-text">
                <p><strong>Making a new checklist</strong></p>
                <p>We incorporated default checklists to reduce user workload but also allowed users to make their own lists and modify ours . The users we interviewed reported that they often had a general list of important items they took no matter the occasion (wallet, keys...) so we have an 'important'  list included along with other specialized lists. The user sets a specific notification such as "weekdays at 7 as I exit Utown" for when they need to check for these items.</p>
            </div>

            <img class="trackingimg centered" src="assets/projects/checkr/tracking.gif">
            <div class="tracking walkthrough-text">
                <p><strong>Live tracking with locate</strong></p>
                <p>If users end up actually losing an item, they can easily track it. They can search for its detailed geographic location with the RFID sticker tag and if they haven't used any tags, our application shows the user a list of the locations where the user has checked the item (on any of their checklists) in chronological order. This mirrors the popular tactic used to find items - "where was the last place you saw it?"</p>
            </div>

            <img class="homeimg centered" src="assets/projects/checkr/home.png">
            <div class="home walkthrough-text">
                <p><strong>A pet who keeps you on your game</strong></p>
                <p>The home screen houses the gamification layer. The habit cat, kiki, gets energized each time you make a check a checklist on time (you literally feed it checks from a bowl). This increases it's positive impression of you. We also included a streak to encourage daily habit building. </p>
                <p>The cat has the personality of a disaproving grandma that scolds you when something is wrong. For instance, if the app registers that your wallet is very far from you, the cat will complain. </p>
            </div>


            <img class="useimg centered" src="assets/projects/checkr/use.gif">
            <div class="use walkthrough-text">
                <p><strong>Develop healthy habits with our app</strong></p>
                <p>This flow takes you through how the user would use the app on a day to day basis:</p>
                <p>It's a weekday and at 7am, you need to leave your house. As you leave, a notification chimes and you are reminded that you need to check your items. The user has the choice of quickly looking at items on the notification itself if they are in a hurry, but if they want to feed the cat, they can simply unlock the screen, check their items and are rewarded by a cute cat animation! </p>
            </div>
        </div>    
    </div>

    <div class="category">
        <h3>Reflections.</h3>
        <h4>The struggle of finding solutions</h4>
        <p><strong>Where do we begin?</strong></p>
        <p>We struggled at the start with regards to how we were going to tackle the particular design objective of building long-term habits. How would we reward users for improving their tracking habits? How would we integrate it into the two base features of our app?</p>
        <p><strong>We brainstormed</strong></p>
        <p>Many diverse ideas were brought up - ranging from a simple streak function, a practical forum, and a city-building game. In the end, we decided on gamification - a fun and engaging method to encourage users to improve their tracking habits.</p>
        <p><strong>Finalising our decision</strong></p>
        <p>We decided on a simple yet fun game, where the user can interact with an in-game pet, named Kiki the Kitten. The irresistibly adorable cat would motivate users to proactively take measures to avoid losing their belongings. At the same time, we designed the game to not be overly intrusive - a gripe that some users brought up in their contextual inquiry.</p>
        <p class="block"></p>
        <h4>Keeping an open mind</h4>
        <p>Throughout the process of our application's development, we found that the key to creating the perfect design was to keep an open mind. As we conducted numerous user interviews, it was important for us not to inject our own thoughts and opinions when listening so that we may not interfere with the user's experiences with our product in any way. While it was at times difficult to take a passive stance, allowing the user to give free and open feedback was one of the most beneficial factors in our design that helped us to achieve an application that suited the wants of the user rather than what we personally believed the user would want.</p>
    </div>
</div>
