
<div class="page-body">
    <h1 data-aos="fade-left">Virtual Branch Support</h1>
    <div class="info">
        <p><strong>Context</strong><br>RBC Summer Innovation Challenge, 2020 (Two weeks)</p>
        <p><strong>Team</strong><br>Muhammad Ali, Arusha Chaudhry, Sunil Cotterill, Bikram Kaberwal, Tareq Karimi, Spencer Robertson</p>
        <p><strong>Role</strong><br>Design Research, Ideation, Prototyping, Visual Design</p>
        <p><strong>Tools</strong><br>Figma, ViroReact</p>
        <p><strong>Impact</strong><br>Second place overall and nominee for viewer’s choice</p>
    </div>
    <img class="full-screen" src="assets/projects/virtualBranchSupport/vbscover2.jpg">
    <h2>Brief</h2>
    <div class="brief">
        <img src="assets/projects/virtualBranchSupport/vbsprocess.svg">
    </div>
    
    <!-- <div class="brief">
        <h2>Brief</h2>
        <div class="listen">
            <h3>Listen.</h3>
            <p>Mobile banking and online banking can't replace help from an advisor face to face</p>
        </div>
        <div class="reshape">
            <h3>Reshape.</h3>
            <p>What if clients can interact with an advisor in a remote setting?</p>
        </div>
        <div class="create">
            <h3>Create.</h3>
            <p>A high fidelity prototype was created</p>
        </div>
    </div> -->

    <div class="category">
        <h3>Listen.</h3>
        <h4>Pain point</h4>
        <p class="block">The 2020 Coronavirus pandemic changed the way RBC's 16 million clients interact with the bank as branches closed down and social distancing restrictions were enforced. How might RBC support its communities in coming together to remain resilient while adjusting to this new reality? For instance, how might we foster collaboration and communication in virtual environments? </p>
        <h4>The Solution</h4>
        <!-- <p><strong>Bringing our clients closer through Augmented Reality</strong></p> -->
        <p>In order to facilitate a rich collaborative environment for our clients and employees in a socially distanced environment, we decided to explore the capabilities of Augmented Reality meetings. </p>
        <p>Our goal is to make a space that emulates the actual in-branch consultation experience. AR conferencing calls enables face to face and visual communication and provides powerful virtual tools that can improve the banking experience.</p>
    </div>

    <div class="category">
    <h3>Reshape.</h3>
        <h4>The Journey</h4>
        <p>We developed our solution through a rapid design cycle (keeping in mind that we had only two weeks and needed to fit the challenge in between our work schedules) .</p>
        <img class="process" src="assets/projects/virtualBranchSupport/processflow.png">
        <h4>Listening to our clients</h4>
        <p>Without the option of visiting branches, clients resorted to mobile banking and online banking. We found that traditional phone calls were not a user-friendly substitution for in-person banking at the branch.  Although they allowed for social distancing, many clients felt like their concerns and questions could not be solved as efficiently with a computer interface or calling a help desk. </p>
        <img class="process" src="assets/projects/virtualBranchSupport/facts.svg">
        <h4>Designing for our clients</h4>
        <p>In order to understand the expectations of users and implement useful functionality for clients, we defined a primary persona - an average Canadian adjusting to their changing environment during the pandemic. </p>
        <img class="process" src="assets/projects/virtualBranchSupport/persona.png">
    </div>

    <div class="category">
        <h3>Implement.</h3>
        <h4>Converting client needs to client experiences </h4>
        <p>Our happy path details Sarah's experience with our app in order to get her mortgage papers signed. She doesn't understand the process so her advisor consults with her using the interactive AR call. </p>
        <p>
            As a calling client, Sarah is looking for <strong>ease of communication, clarity, and efficiency</strong>
            in the call because she needs help but would like the appointment to be short so that she is in time to make lunch for her kids.
        </p>
        <!-- <img class="full-width" src="assets/projects/virtualBranchSupport/fullflow.png"> -->
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" class="full-screen" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FTZUKcrPZhJwYP8kbC40z37%2FInnovation-Challenge%3Fnode-id%3D13%253A2279" allowfullscreen></iframe>

        <h4>Familiarity for ease of use</h4>
        <p>I wanted our AR application to integrate a communication experience that is easy to use but also harness the innovative features of Augmented Reality. The flow eases the client into the application in an intuitive manner because it follows the already well established format of help service calls and branch visits in the beginning. For instance, when you call the help desk, you get a disclaimer notice, and then are asked what they would like to do, similar to the 3rd onboarding screen.</p>
        <img class="full-width" src="assets/projects/virtualBranchSupport/vbsflow1.png">

        <h4>Ease of communication.</h4>
        <p>Once the system finally matches Sarah with someone who is best able to help her, she meets with an actual RBC advisor, Andrew Anand, who can see Sarah's workspace through the camera. She can now use numerous AR tools displayed on the screen, for instance, freeze screen which stabilizes the image for a better annotation experience and allow the advisor to zoom in and out of her view.</p>
        <img class="full-width" src="assets/projects/virtualBranchSupport/vbsflow2.png">

        <h4>Making the point clear.</h4>
        <p>The annotate function allows users to draw or highlight on the workspace or virtually point to something in case they don’t understand it or would like to make a point.</p>
        <p>Since the client and advisor are meeting virtually, it’s also important and fun to convey how they are feeling about the experience with emoticons. 😊</p>
        <img class="full-width" src="assets/projects/virtualBranchSupport/vbsflow3.png">

        <h4>Saving those critical minutes.</h4>
        <p>The scan function allows Sarah to scan any documents or ID quickly and hand it to Andrew as if they are within the same room.</p>
        <img class="full-width" src="assets/projects/virtualBranchSupport/vbsflow45.png">
        <p class="block">Once Sarah is notified that she has a new message, she can easily tab over, download her confirmation file, and she is done her task at the bank! By using the application, she saves time and practices social distancing without sacrificing the consultation's quality.</p>
        <h4>Input and testing</h4>
        <p>Despite the time constraint, we made sure to test our designs and gain input to optimize our solution. Some of the features that were improved on the second iteration of the prototype involved giving the user more freedom in calling and ending the call. The annotation of the wording of the navigation bar buttons on click was added as users needed to guess the meanings of the icon!</p>
        <img class="full-width" src="assets/projects/virtualBranchSupport/vbsflow3.png">
    </div>

    <div class="category">
        <h3>Reflections.</h3>
        <h4>The future</h4>
        <p><strong>Accessibility</strong></p>
        <p>This application is a great tool to make banking accessible. For instance, implementing on-screen speech to text translation of the advisor to the language the client is most comfortable with or even picture to text translation options can help welcome Canadian newcomers or clients with vision disabilities.</p>
        <p><strong>Broadening the horizon</strong></p>
        <p class="block">The happy path above only details one use case. Employee onboarding and IT issues within the bank are some relevant issues that can be solved using the application.</p>
        <h4>Takeaways of the experience.</h4>
        <p>We were selected to pitch to Technology and Operations head Bruce Ross and Senior VP Jules Andrew after placing second in overall implementation.  During our round table discussion I asked Bruce Ross about how RBC plans for innovation, and he replied:</p>
        <blockquote>"We strategize to focus on products that are relevant to our client's lives"</blockquote>
        <p>Through this project, I learned to design products relevant for the client's needs and situation.  Our application connects the community to the bank during the pandemic, enabling clients to bank with efficiency from the comfort of their homes.</p>
    </div>
    <a class="next" routerLink="/checkr">Next work -></a>
</div>



