@import "src/styles.scss";

strong{
    font-weight: $bold;
}

h1{
    @include work-title;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 6px solid $dark-grey;
}

h2{
    @include work-title;
    font-size: $font-lg;
    margin-top: $sp-xl;
}

h3{
    @include category-text;
    margin: $sp-xxl 0px 40px 0px;
    
}

h4{
    @include work-subtitle;
    margin: $sp-5xs 0px $sp-xxxs;
}

p{
    @include paragraph-text;
}

.block{
    padding-bottom: 20px;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: $sp-xxl;

    p:nth-of-type(1){
        grid-column: 1;
        margin-right: $sp-s;
        
    } 

    p:nth-of-type(2){
        grid-column: 2;
        margin-right: $sp-s;
    } 
}

.brief img{
    max-width: 100%;
    height: auto;
}

.process{
    margin: $sp-l auto;
    display: block;
    width: 100%;
}

.imagegrid{
    margin: $sp-l 0px $sp-l 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img:nth-of-type(1){
        grid-column: 1;
        // margin-right: $sp-s;   
    } 
    img:nth-of-type(2){
        grid-column: 2;
        // margin-right: $sp-s;  
    } 
    img:nth-of-type(3){
        grid-column: 3;
        // margin-right: $sp-s;  
    }
}