<div class="page-body">
    <h1 data-aos="fade-left">Shadow Puppetry: Traditional Chinese Puppetry</h1>
    <div class="info">
        <p><strong>Context</strong><br>A passion project</p>
        <p><strong>Themes</strong><br>Language, Videography, Theatre</p>
        <p><strong>Materials/Tools</strong><br>Adobe After Effects, Paper</p>
    </div>
    <img class="process" src="assets/fun/puppet2.png">
    <!-- <p><b>This puppet play and video was the result of my investigation into Chinese folk art and Poetic language fragments (chinese idioms)</b> </p> -->
    <h2>Shadow Puppetry</h2>
    <p>Shadow puppetry is a form of theatrical performance that uses the shadow of puppets cast onto a screen. The play-set I constructed 
        consisted of paper cut puppets and settings inspired by the patterned forms of traditional puppets, which allowed light to pass through and cast beautiful shadows on the screen.  </p>
    <h2>Idioms</h2>
    <p>Chinese idioms (Chenyu) are short phrases (mostly four characters) that were used widely in Classical China but are still commonly found in modern Chinese.
        They don't simply convey the meaning of the phrase but encapsulates an entire story within the few short phonemic sounds produced - which I found fascinating. The idiom that I convey in 
        this work is 狐假虎威, which literally translates to 'the fox exploits the tiger's might' but implies 'to exploit other's power and rights to bully others'. In the story, a fox tricks a tiger to 
        believe that the fox is the king of all animals. They walk with the tiger behind the fox, which scares all the forest animals- giving the false perception it was the fox that scared them away. </p>

    <iframe class="full-screen" height="800px" src="https://www.youtube.com/embed/vIHHyT53M9Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <a class="next" routerLink="/lighthouse">Next work -></a>
</div>
