<div class="page-body">
    <h1 data-aos="fade-left">CSearch: Computing Research Conference Designs</h1>
    <div class="info">
        <p><strong>Context</strong><br>Creating the branding and digital design for the largest Computing Research Conference at Queen’s University</p>
        <p><strong>Role</strong><br>Principle Designer </p>
        <p><strong>Materials/Tools</strong><br>Adobe Suite</p>
    </div>
    <h2>About CSearch</h2>
    <p>The CSearch conference is Queen's University's largest computing research conference where students from across North America will get together to share views, discuss research, and present their projects. The conference caters to both graduate and undergraduate students, encouraging the exchange of ideas, and fostering the discovery of new possibilities.</p>
    <p><b>Conference values</b> | innovation, technology, fostering connections, networking</p>
    <h2>The Logo</h2>
    <p>Out of the ideas I sketched, the CSearch team really liked four of them which I created higher fidelity versions of below. All of them take into account the motivations and identity of the conference. For instance, the two logos in the middle incorporates a cursor or next arrow in the negative space between the C and S which is a synthesis of computing, research as well as innovation. We decided on the pixelated cube design where each pixel demonstrates an individual's research joined together to form Computer Science as the official logo.</p>
    <img class="full-screen" src="assets/fun/csearchlogos.png">

    <h2>Marketing</h2>
    <p>We wanted to get the opportunity exposed to students as well as researchers around North America so we used social media marketing as our main form of outreach. I had a lot of fun creating different banners to use in emails to researchers or as assets for online outreach. All of the assets have the theme of dispersing pixels, representing the sharing of research, and the grouping of pixels also represents connecting with other researchers to create a scientific community.</p>
    <img class="full-screen" src="assets/fun/csearchbanner.png">

    <h2>The Event</h2>
    <p>Our team worked hard on coordinating the events and making sure the experience was perfect for the delegates and speakers. The conference exceeded our expectations of success and I learned so much in a span of a weekend. The event was truly inspiring and lived up to the values we aimed to incorporate into the experience.</p>
    <img class="centered-md" src="assets/fun/conference.png">
    <a class="next" routerLink="/vector">Next work -></a>
</div>