
<div class="page-body">
    <h1>Case Study: Are face filters filtering out an authentic you?</h1>
    <!-- <div class="info">
        <p><strong>Context</strong><br>Human Computer Interaction project</p>
        <p><strong>Team</strong><br>Vicki Lu, Wong Chi Shan, Elizabeth Yim</p>
        <p><strong>Role</strong><br>User Experience Design, Team Lead</p>
        <p><strong>Tools</strong><br>Figma, Adobe After Effects</p>
    </div> -->

    <h2>Brief</h2>
    <div class="brief">
        <img src="assets/projects/filter/brief.svg">
    </div>

    <div class="category">
        <h3>Listen.</h3>
        <h4>The issue of social media beauty filters</h4>
        <p>Filters on social media enable us to explore our creativity and have fun. They are incredible add on  features that draw in millions of user to platforms such as Snapchat and Facebook. However, research into social media have found that poppular filters lead to unhealthy beauty expectations of a person's face.   </p>
        <p>AI is used in filters to make nips and tucks to the face so that certain facial structures are altered such as the jawline and eyes. This may lead to excessive preoccupation with a perceived flaw in appearance, where people go to great lengths to hide their imperfections. Plastic surgery clinics have seen a rise of 137% patients in recent years, with a shift to younger female patients.</p>
        <blockquote>💬  "A new phenomenon called 'Snapchat dysmorphia' has popped up," said Neelam Vashi, MD, director of the Ethnic Skin Center at BMC and Boston University School of Medicine, "where patients are seeking out surgery to help them appear like the filtered versions of themselves."</blockquote>
        <p class="block"></p>
        <h4>Questions to explore</h4>
        <p><strong> I want to understand this issue further because everyone who uses Snapchat or Instagram (most people in my life), come across or actively engage in the experience of the 'beauty filter'. I would like to investigate:</strong></p>
        <p>1. What do people, especially youths, find beautiful? </p>
        <p>2. To what extent do filters actually influence beauty standards? </p>
        <p>3. How can we harness the strengths of beauty filter technology to create a product that does not have the same problems of current beauty filters? </p>
    </div>

    <div class="category">
    <h3>Reshape.</h3>
        <h4>Research</h4>
        <p>To answer the first two questions, I read through published research on the topic of beauty and created a google form to interviewer target users of filters (female Snapchat users around the age of 20). I categorized my findings into two categories, <strong>#filters</strong> and <strong>#beauty</strong></p>
        <p class="block"></p>
        <h4>Papers</h4>
        <p><strong>#filters</strong></p>
        <p>In a paper named <em>Virtual makeover: Selfie-taking and social media use increase selfie-editing frequency through social comparison</em>, it was concluded that both selfie-taking and social media use is positively associated with social comparison of appearance, public self-consciousness positively relates to social comparison of appearance, and the three variables indirectly increase selfie-editing over time through comparison.</p>
        <p><strong>#beauty</strong></p>
        <p>The study,<em> Why do women want to be beautiful? A qualitative study proposing a new "human beauty values" concept</em>, analyzed women's perceptions of beauty, especially of themselves and other women, in three different countries. It proposed different categorical measures of beauty.</p>
        <p>1. <strong> Individuality HBV</strong> is a measure of beauty that describes an individual's distinctive individuality. </p>
        <blockquote>💬 "In Japan, there are many types of beauty, so, I can choose what I want. I think expressing one’s own unique individuality is beautiful."</blockquote>
        <p>2.<strong> Authenticity HBV</strong> is a measure of beauty not achieved through artificial methods like cosmetic surgery but authenticity is naturally accumulated through life experiences.</p>
        <p class="block"></p>
        <h4>Questionnaire</h4>
        <p><strong>#filters</strong></p>
        <p>The influence of social media filters on their idea of beauty can be both beneficial and detrimental. Filters have actually boosted some people's confidence. For instance, if they are not feeling confident in their appearance, the filter reminds them that they have beauty within themselves when the filter compliments their face.</p>
        
        <p><strong>#beauty</strong></p>
        <p>What people found to be beautiful almost always revolved around the person being healthy, happy and smiling. The individual could also have a unique or defining feature, for instance, wide smiled, giggly, crowlines, or soft nose</p>
        <p>Beauty ideals depended on thier social environment. One participant stated:</p>
        <blockquote>💬 "I also thought blonde hair was prettier than brown because (of) Cinderella and Hannah Montana and the popular girl in class. But I grew out of that notion as I got older, moved to a more diverse community where there were more people that looked like me, and more role models I saw as beautiful who were brunettes, or various other colors of hair for that matter. Now I love my brown hair."</blockquote>
        <p class="block"></p>

        <h4>Findings</h4>
        <p>1. People are drawn to social media filters because they add more personality or beauty to our pictures. The pursuit self-improvement is unavoidable, however, how beauty is defined and even marketed can be changed. For instance, we can create filters promoting individuality or authenticity instead of changing facial features themselves. </p>
        <p>2. The most beautiful faces were faces that were smiling which conveying that they were agreeable. In addition to the model of objective beauty, the individuality of someone's face when it shows emotion was seen as an outstanding quality.</p>
        <p class="block"></p>
        <h4>Reshaping beauty filter design</h4>
        <p>I think beauty filter technology focus very heavily on a person's face but very little on the beauty of facial expressions and individual beauty. Two features, customizability and individuality, can be further explored. For instance, customizable filters that change depending on the person in the filter or highlighting with face detection what makes user's faces special are features to consider.</p>
    </div>

    <div class="category">
        <h3>Explore.</h3>
        <h4>Creating prototypes with individuality in mind</h4>
        <p>I designed with the mindset: The filter shouldn't change you, you should change the filter. When a user makes a unique facial expression, the filter detects these features and changes to a new design. I only mocked up three facial expressions that were easy to be picked up by the camera and have happy meanings associated with them.</p>
        <img class="centered" src="assets/projects/filter/proto.png">
        <p>The designs reflect and highlight the user's personality by emphasizing the facial expression they make. The uplifting message written in the designs is directed at the user themselves when they take the filtered shot and also the friend that they send it to over social media. These features promote the Individuality HBD category of beauty and encourages people to smile when they are taking a selfie!</p>
        <h4>Implementation</h4>
        <p>I used SparkAR to create the filters. I don't know how to wink so it was very difficult testing that pose.</p>
        <img class="centered-sm" src="assets/projects/filter/finalARFilterProtos.gif">
       

    <div class="category">
        <h3>Reflections.</h3>
        <p>When asked about thier product, social media giant Snapchat replied that:</p>
        <blockquote>💬 "It was designed as a place where people feel free to be their authentic self" </blockquote>
        <p>Although Photoshopping face filter techniques are by no means unethical, they aren't best practices. AI face filter techniques such as face detection and feature detection can be used to help create object overlays such as a pizza or a rainbow, or even artificial makeup, but I believe respect should be given to an individual's facial features when approaching facial filter design.</p>
    </div>
</div>
