
<div class="page-body">
    <h1>WaiveTheWait: Smart Room</h1>
    <div class="info">
        <p><strong>Context</strong><br>Startup venture project</p>
        <p><strong>Co-founders</strong><br>Shreyansh Anand, Bijan Betel Miri , Daniel Oh, Yifei Yin, Salman Sohani</p>
        <p><strong>Role</strong><br>User Experience, Ideation, Prototyping, Visual Design, Marketing</p>
        <p><strong>Tools</strong><br>Figma, Adobe Suite, HTML, CSS, Typescript</p>
        <p><strong>Impact</strong><br>Currently collaborating with clinics for our MVP release</p>
    </div>

    <h2>Brief</h2>
    <div class="brief">
        <img src="assets/projects/wtw/wtwbrief.svg">
    </div>

    <div class="category">
        <h3>Listen.</h3>
        <h4>Pain point</h4>
        <p>Think of the most boring place you have ever been to. If you thought of a waiting room, you're not the only one.  </p>
        <blockquote>60% of Canadian patients report waiting in the waiting room as one of the most frustrating aspects of the clinical experience</blockquote>
        <p class="block"></p>
        <h4>The situation</h4>
        <p>Patients don't want to be stuck in a room full of sick patients, a sentiment which has intensified during the pandemic. Likewise, doctors and administrators dislike managing people since their goal is to run a clinic and treat as many people as efficiently as possible. The current waiting room system for most clinics are not optimal because: </p>
        <p><strong>1.</strong> The amount of patients they can contain is capped at around 15 for small clinics (and even less during the pandemic)</p>
        <p><strong>2.</strong> People can be doing something productive during the wasted time and clinics can make use of the physical space (perhaps another blood testing area) to increase efficiency.</p>
        <p><strong>3.</strong> Being sick and in the waiting room may pose a risk to others.</p>
        <p class="block"></p>
        <h4>Smart Room alleviates these issues</h4>
        <p>We created a completely virtual waiting room. It digitally notifies patients exactly when their appointment is and sends them smart reminders on when they should arrive - allowing them to social distance at home. It decreases patient drop off rate by improving wait room customer experience and dynamically manages new walk in patients to increase efficiencies and reduce clinic workload.</p>
    </div>

    <div class="category">
    <h3>Reshape.</h3>
        <h4>Reaching out</h4>
        <p>Our mission is to create a product that is perfectly aligned with patient and clinic interests. That's why the first thing we did was conduct user experience interviews that captured user and clinic habits and the ways they interacted with the clinic waiting room. We cast a wide net for interviewees such as large and small clinics and patients of various ages and ethnicity. </p>
        <p class="block"></p>
        <h4>Creating an <em>affinity</em> towards users</h4>
        <img class="process" src="assets/projects/wtw/stickies.png">
        <p>Our final affinity diagram grouped sticky notes into large categories and then into more specific sub-categories to gain more specific avenues of topics.</p>
        <img class="process" src="assets/projects/wtw/wtwaffinity.png">
        <h4>Key Findings</h4>
        <p class="block"></p>
        <p><strong>1. Patients want service reasonably quickly and would like to know how long they would wait.</strong> Patients would prefer to go directly from their house to the clinic and into the doctor's office immediately without checking in.</p>
        <blockquote>"People feel that healthcare should be delivered the moment they want it"</blockquote>
        <p class="block"></p>
        <p><strong>2. People have negative interactions with staff, especially with some receptionists.</strong> This is often because receptionists are often juggling many tasks and are also the bearers of bad news when it involves delays in waiting.  This pain point is also felt the other way around as receptionists may get many questions from patients or misbehaving patients. There are also troubles with language barriers, especially with newcomers to Canada or elderly patients.</p>
        <blockquote>"It's really distressing when I see patients that don't follow our instructions to socially distance themselves in the wait room"</blockquote>
        <p class="block"></p>
        <p><strong>3. A concern for tech based clinic aids / telemedicine is how accessible it is to the elderly or users with other accessibility impairments.</strong></p>
        <blockquote>"I'm not too comfortable with all those applications out there"</blockquote>
        <p class="block"></p>
        <h4>Shaping our product!</h4>

        <!-- TODO add icons and make grid-->
        <p>I took key findings from users and converted their goals to our goals by forming action items.</p>
        <p class="block"></p>
        <p><strong>1. Decrease the effort clinics need to make to enforce social distancing and effort by the receptionist and staff during the checking and form filling process. </strong></p>
        <p>Create a safe, completely online waiting room that tells patients when they should leave the house and when they can come in to see the doctor which saves patient's time and allows clinics to put less effort in making their physical waiting rooms safe.</p>
        <p class="block"></p>
        <p><strong>2. Decrease the negative interactions between the clinic and the patient and vice versa. </strong></p>
        <p>Crafting well written content that empathizes with the user and makes them feel that the clinic cares about them.</p>
        <p class="block"></p>
        <p><strong>3. Make the technology we produce as accessible as possible for all ages and abilities. </strong></p>
        <p>Designing and testing the implementation for accessibility, offering interfaces with different languages</p>
        <p class="block"></p>
        <blockquote><strong>Our mission statement: </strong>Create a digital wait room that promotes accessibility and efficient communication.</blockquote>
    </div>

    <div class="category">
        <h3>Implement.</h3>
        <h4>Design plan</h4>
        <p>I wanted the product to be highly functional but also consistent in design. Despite deadlines, I believed that we needed a stable foundation of design and started creation from the guidelines and design system, components, leading up to functional prototypes. Throughout the process we kept in mind the mission statement to keep us anchored to our purpose.</p>
        <img class="process" src="assets/projects/wtw/processoverview.png">

        <h4>Visual Identity Standards (VIS)</h4>
        <p><em>We are professional. welcoming. informative.</em></p>
        <p>Every aspect of our client facing designs from the images, text, to the rounding of the edges count as content that convey meaning subconsciously to the patient and client. This matters tremendously to patients, especially if they are sick or in pain. We strive to be make content appear as welcoming and accessible as possible.</p>
        <p>Our happy path details the Sarah's experience with our app in order to get her mortgage papers signed. She doesn't understand the process so her advisor consults with her using the interactive AR call. </p>
        <p>The VIS serves to guide WaiveTheWait members when making content and also explain the reasoning behind the guideline choices.</p>
        <img class="process" src="assets/projects/wtw/VIS sample.png">
        <!-- TODO <p>Sample of three pages from the document</p> -->
        
        <h4>An adaptable design system</h4>
        <p>Our design system strives to improve the developer experience and to unify the visual experience throughout all future products. </p>
        <img class="process" src="assets/projects/wtw/designsystem.png">
        <p>I designed the system with the future in mind. A startup venture encounters many pivots and failed products which means the system needs to be both resilient and flexible to change. To build a resilient system, I focused on basic elements that stayed constant throughout our journey, for instance, the main colors and shades which stayed with us through our pivots, the wavy background shape, and chart/grid patterns which are often used in wait time systems.</p>
        <img class="centered" src="assets/projects/wtw/colors.png">
        <p>When designing the logo, I also took into core values and concepts important to the venture that are resilient to change. One main concept, as indicated by our name, is saving <em>time</em>. </p>
        <img class="process" src="assets/projects/wtw/logos.png">
        <p>When designing for flexibility, I made sure that all the styles I created were implemented as Sass variables throughout the project through the use of tokens and mixins, for instance $wtw-tint-dark. If the color scheme needs to be changed, only the global styling files need to be altered. </p>
        <p class="block"></p>

        <h4>A look into our venture</h4>
        <p>Our social media promotes transparency and allows clients and potential clients connect with us. The social media graphics represent this idea by incorporating deconstructed parts of the venture logo so that our clients can take a 'look inside'.</p>
        <img class="process" src="assets/projects/wtw/social.png">

        <h4>Prototyping</h4>
        <p>We wanted a highly usable product for both the patient and clinic. I constructed a UML Activity style flow to represent the user process, clinic process, and transfer of information between the two. Creating and optimizing this diagram allowed me to make prototypes that were relevant to the user process.</p>
        <img class="process" src="assets/projects/wtw/uml.png">
        
        <h4>A seamless wait room experience</h4>
        <p>The foundation of our virtual waiting room is built from user input gathered during research. Our system enables users to completely avoid the wait time and physical wait room, all the way up until the doctor calls them into the office.</p>
        <img class="process" src="assets/projects/wtw/patientflow.png">

        <p><strong>Login screen</strong></p>
        <p>When patients enter a virtual room, they are looking for ease of access, or the ability to 'walk' in and out just like a real room. Instead of typing their email and password over again, they are given a memorable code such as "ginger bobcat" that they can use to enter the room. Throughout the application, we've included help icons which will explain certain features in case users are confused such as the one associated with the codeword field.</p>
        <img class="process" src="assets/projects/wtw/clientlogin.svg">

        <p><strong>Smart Room (Dashboard)</strong></p>
        <p>A fear that many patients have is not being updated when a delay happens. Our virtual clinic incorporates a dashboard that lays out all the information to optimize communication and transparency between the patient and the clinic. </p>
        <p>We found that showing the number of people before in the queue actually placed psychological anxiety on the patient because it made the patient feel like they were waiting in line. Instead, The 'room' gives live updates on their wait time and travel time, which is measurable and more accurate.</p>
        <p>Badges signal the progress of either the clinic or patient. If nothing is chosen on the patient's side, the clinic is shown a default badge. The patient can easily see the status of their appointment in the appointment section and will be notified both on the Smart Room view and other methods of communication.</p>
        <img class="process" src="assets/projects/wtw/patientmain.svg">
        <p>It's easy to forget appointments when you have a busy schedule. we keep patients updated through reminders the day before, when they should leave for the appointment (based on their location data), when there is a delay, and when they are being called in by the doctor, so that even if they aren't looking at dashboard itself, the wait room actively reaches out to service them. The patient have full autonomy and can opt out of any of these notifications on the dashboard.</p>
        <img class="process" src="assets/projects/wtw/mobile.svg">

        <h4>Stress free management</h4>
        <p>We studied how clinics handle their wait rooms and made a dashboard that integrates with already established habits. The receptionists have the flexibility to look at the patients each doctor has under their specific file tab so they can easily communicate with each doctor about the status of their patients without parsing through the whole list of patients.</p>
        <img class="process" src="assets/projects/wtw/clinichome.png">
        <p>Clinics want to minimize time spent and noting down patient status and notifying patients. In coordination with the client side, we've designed badges to show easily convey patient status.</p>
        <img class="centered" src="assets/projects/wtw/tokens.png">
        <p>Two critical statuses, running late, waiting outside the clinic, require action from the receptionist so they trigger notifications. Receptionist can undo the notification by clicking the critical badges. This means that the receptionist does not have to check the page constantly for important updates and guide them to call in patients or notify delays to doctors in a timely manner.</p>
        <img class="centered" src="assets/projects/wtw/criticalalerts.png">
        <p>Calling patients in and sending delay notifications are made quick and easy by just switching on the toggle. We craft the message sent to the patients so there's no need to spent time on dialing a number or making a message. </p>
        <p>If the clinic needs to look at more information than those listed on the minimized list. They are able to expand the accordion to see details such as forms and phone numbers. Everything is seamlessly integrated with the EMR system so no manual input is needed.</p>
        <img class="process" src="assets/projects/wtw/listitemexpanded.svg">
        
        <h4>Look out for the landing!</h4>
        <p>The launch page offers an informative peek into the product and how it can help transform clinic wait rooms. It showcases a quick demonstration of the flow and contains CTAs at the beginning, middle and bottom of the page which prompt the viewer to book a consultation with us. If the viewer would like to be updated, we encourage them to leave their email.</p>
        <img class="centered" src="assets/projects/wtw/landing.png">
    </div>

    <div class="category">
        <h3>Reflections.</h3>
        <h4>Our challenges improve us</h4>
        <p>WaivetheWait has made a few pivots and we've grown from the project we've put aside. We've taken more initiative to consult trusted advisors and gain user feedback from the immediate beginning of a product. </p>
        <p class="block"></p>
        <h4>Our trajectory</h4>
        <p>We are currently in the planning process of launching our MVP to clinics that are interested in collaborating. Our goal by the end of summer 2020 is to win additional seed funding with key investors at the DDQIC pitch competition.  </p>
        <p>We aim to make our product as accessible as possible. This means we will be gathering more input from diverse users, such as the elderly or impaired users. I plan to integrate more accessibility in the designs and documentation and conduct post MVP redesigns.</p>
        <p class="block"></p>
        <h4>Futuring</h4>
        <p>We hope this product lives up to our mission statement to provide safety, clinic-patient transparency, and an optimized wait room experience.</p>
    </div>
</div>
