/* You can add global styles to this file, and also import other style files */


// spacing
$sp-6xs: 12px;
$sp-5xs: 12px;
$sp-4xs: 12px;
$sp-xxxs: 16px;
$sp-xxs: 20px;
$sp-xs: 24px;
$sp-s: 32px;
$sp-a: 40px;
$sp-m: 48px;
$sp-l: 56px;
$sp-xl: 72px;
$sp-xxl: 88px;

//colors
$main: #5DBFC5;
$dark: #1F8E94;
$tint: #EFF9F9;

$background: #FDFDFD;
$light-grey: #CBCBCB;
$dark-grey: #414141;

//font

$light:300;
$regular:400;
$medium:500;
$bold:600;
$black:700;

$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 24px;
$font-lg: 30px;
$font-xl: 36px;
$font-xxl: 50px;
$font-xxxl: 64px;

$primary-font: 'Roboto Mono';
$secondary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$tech-font: 'Roboto Mono';

// width formatting
.page-body{
    width: 45%;
    // margin-left: auto;
    // margin-right: auto;
    margin: auto auto 10% auto;  
}

.full-screen{
    width: 99vw;
    position: relative;
    left: 49%;
    right: 49%;
    margin-left: -49vw;
    margin-right: -49vw; 
    margin: $sp-l -49vw $sp-xl -49vw; 
}

.centered-md{
    margin: $sp-l auto $sp-l auto;
    display: block;
    width: 60%;  
}

.centered{
    margin: $sp-l auto $sp-l auto;
    display: block;
    width: 95%;  
}

.centered-sm{
    margin: $sp-l auto $sp-l auto;
    display: block;
    width: 20%;  
}

.two-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    img:nth-of-type(1){
        grid-column: 1;
        // margin-right: $sp-s;   
    } 
    img:nth-of-type(2){
        grid-column: 2;
        // margin-right: $sp-s;  
    } 
}

.three-grid{
    margin: $sp-l 0px $sp-l 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img:nth-of-type(1){
        grid-column: 1;
        // margin-right: $sp-s;   
    } 
    img:nth-of-type(2){
        grid-column: 2;
        // margin-right: $sp-s;  
    } 
    img:nth-of-type(3){
        grid-column: 3;
        // margin-right: $sp-s;  
    }
}

.next{
    font-family: $tech-font;
    font-size: $font-md;
    display: block;
    text-align: center; 
    text-decoration: none;
    color: black;
    margin-top: $sp-xxl;
    
}

.next:hover{
    color: $dark;
}

@mixin work-title{
    font-size: 80px;
    color: $dark-grey;
    font-family: $secondary-font;
    font-weight: $bold;
}

@mixin category-text{
    font-family: $tech-font;
    font-size: 18px;
    font-weight: $bold;
    color: $dark-grey;
    // text-decoration: underline;
    display: inline-block;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid $dark-grey;
}

@mixin work-subtitle{
    
    font-family: $secondary-font;
    font-size: $font-xl;
    color: $dark-grey;
    font-weight: $bold;
}

@mixin quote-text{
    @include paragraph-text;
    font-size: 20px;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid $dark-grey;
}

@mixin title-text{
    font-size: $font-xl;
    color: $dark-grey;
    font-family: $secondary-font;
    font-weight: $regular;
    line-height: 3.5rem;
}

@mixin title-text-colored{
    @include title-text;
    color: $dark;
}

@mixin heading-text{
    font-size: 24px;
    color: $dark-grey;
    font-family: $secondary-font;
    font-weight: $regular; 
}

@mixin paragraph-text{
    font-size: 18px;
    color: $dark-grey;
    font-family: $secondary-font;
    font-weight: $regular;
    
}

@mixin label{
    font-size: 16px;
    color: $dark-grey;
    font-family: $secondary-font;
    font-weight: $regular;
}

@mixin paragraph-text-colored{
    @include paragraph-text;
    color: $dark;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');