
<div class="page-body">
    <h1>COMPSA: Computing Students' Association </h1>
    <div class="info">
        <p><strong>Context</strong><br>2 year volunteer position and directorship</p>
        <p><strong>Team</strong><br>COMPSA marketing team (8 members) </p>
        <p><strong>Roles</strong><br>Year 1: Designer <br>Year 2: Marketing Director </p>
        <p><strong>Tools</strong><br>Adobe Suite</p>
    </div>
    <img class="full-screen" src="assets/projects/compsa/banner.png">
   
    <h2>Brief</h2>
    <div class="brief">
        <p>During my time in COMPSA, I developed the Visual Identity Standards of the Organization and increased student engagement within the faculty by designing engaging student experiences.</p>
    </div>
        <h3>About the Association.</h3>
       <p>Queen’s University Computing Students’ Association (COMPSA) is the student government for Queen’s University School of Computing. COMPSA is run by a group of highly motivated students who represent and bring together the entire Computing student community through various events and opportunities. </p>
       <img class="centered" src="assets/projects/compsa/group.png">
    <div class="category">
    <h3>Reshape: Official Visual Identity Standards.</h3>
        <h4>Graphic design</h4>
        <p>When I was a graphic designer for COMPSA, I worked with another designer, Ricky Zhang, and we realized there was a conceptual gap between the graphics we produced as well as the graphics that were produced in COMPSA in the years before. I felt that the assets used in COMPSA marketing should reflect the organization and be more consistent in order to strengthen our brand identity. </p>
        <div class="two-grid centered">
            <img class="centered" src="assets/projects/compsa/graphic1.png">
            <img class="centered" src="assets/projects/compsa/graphic2.png">
        </div>
        <h4>The document</h4>
        <p>After I took a position as the Marketing Director on the council, I decided to implement a set of Visual Identity Standards (VIS) over the summer before the school term started so the designs of the graphic designers on the marketing team could use it as a guide right away. The document below describes the usage of fonts, logo, colors, and visual guidelines when designing for COMPSA, keeping in mind the organization's unique identity as a friendly and inclusive computing student government.</p>
        <img class="full-screen" src="assets/projects/compsa/vis.png">
        <p>Here are some graphics that were created with the VIS in mind. I introduced the mascot concept of robots because they communicate the right amount of geeky and fun into designs ;) . They are also very flexible design objects because there are so many variations of robots (diverse like our faculty) and can be positioned to do basically anything (for example drinking tea or playing chess).</p>
        <img class="centered-md" src="assets/projects/compsa/graphic3.png">
        <p>One of my happiest experiences that year was when a computing student beside me in a lab was scrolling through his social media and commented to a friend "there's been a lot of COMPSA adverts recently", which meant the graphics were distinct and cohesive enough to instantly be recognized.</p>
        <div class="two-grid full-screen">
            <img class="centered" src="assets/projects/compsa/graphic4.png">
            <img class="centered" src="assets/projects/compsa/graphic5.png">
        </div>
    </div>

    <div class="category">
        <h3>Augmenting Student Experiences. </h3>
        <h4> Increasing community engagement</h4>
        <p>One of my goals of the year was to increase student engagement within the computing faculty. </p>
        <p>To achieve this:</p>
        <p><b>I created a social media campaign,</b> "Introducing compsci!" which introduces a nominated (via social media) Student or member of the faculty with some thought provoking /interesting questions every week (eg. Dream job? Favorite Joke?). This allows the entire faculty to get to know each other and showcase interesting facts we wouldn't have known otherwise, instigating moments of 'wow this professor/student is interested in this too!' This campaign increases community engagement on our social media accounts because the nomination system is highly interactive. Posts are also generally more relevant and engaging on Instagram if they feature a person, especially someone you know. </p>
        <div class="two-grid full-screen">
            <img class="centered" src="assets/projects/compsa/social1.png">
            <img class="centered" src="assets/projects/compsa/social2.png">
        </div>
        <p><b>I planned in-person merchandise sales.</b> To increase faculty spirit, new merchandise was designed such as enamel pins, stickers and shirts that faculty and students can buy at computing events. New merchandise was designed with input from the student polls and forms posted on social media. We doubled sales figures that year which meant that everyone looked great walking around with computing style!</p>
        <img class="centered-md" src="assets/projects/compsa/pin.png">

    <div class="category">
        <h3>Reflections.</h3>
        <p>Throughout my time at COMPSA, I learned so much from everyone I worked with. Every member of the marketing team brought something novel to our designs and our council members inspired me with their plans and ideas they implemented.</p>
        <img class="centered" src="assets/projects/compsa/council.png">
    </div>
    <a class="next" routerLink="/fun">More Work -></a>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" type="text/javascript"></script> 

